.container {
  max-width: 144rem;
  margin: 0 auto;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

body {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 6.4rem;
  color: #fff;
}
@media only screen and (max-width: 75em) {
  .title {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

.title--pink {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fe4d6a;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
@media only screen and (max-width: 56.25em) {
  .title--pink {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .title--pink {
    font-size: 0.8rem;
  }
}

.title--background {
  font-family: "Montserrat", sans-serif;
  font-size: 14rem;
  font-weight: 900;
  text-align: center;
  color: black;
  text-shadow: -1px 1px 0 rgba(254, 77, 106, 0.1607843137), 1px 1px 0 rgba(254, 77, 106, 0.1607843137), 1px -1px 0 rgba(254, 77, 106, 0.1607843137), -1px -1px 0 rgba(254, 77, 106, 0.1607843137);
}
@media only screen and (max-width: 75em) {
  .title--background {
    font-size: 12rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .title--background {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .title--background {
    font-size: 7rem;
  }
}

p {
  line-height: 1.9;
}

span {
  font-weight: 800;
}

.btn, .btn--white {
  background-color: #fe4d6a;
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover, .btn--white:hover {
  background-color: rgba(254, 77, 106, 0.1607843137);
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.btn--transparant, .btn--white:hover {
  background-color: transparent;
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.btn--nav {
  text-transform: none;
}

.btn--footer {
  width: 30%;
  height: 100%;
  background-color: #fe4d6a;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn--footer:hover {
  background-color: rgba(254, 77, 106, 0.1607843137);
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.btn--white {
  background-color: #fff;
  color: #fe4d6a;
}
.btn--white:hover {
  color: #fff;
}

.inner__btn .arrow {
  color: #fe4d6a;
}
.inner__btn .arrow:hover {
  color: #fff;
}

.worldwide {
  background-color: #000;
}
.worldwide .worldwide__title {
  padding: 4rem 16rem;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .worldwide .worldwide__title {
    padding: 3rem 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .worldwide .worldwide__title {
    padding: 3rem 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__title {
    padding: 2rem 2.5rem;
  }
}
.worldwide .worldwide__title .title,
.worldwide .worldwide__title .title--pink {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.worldwide .worldwide__title .title {
  top: 60%;
}
.worldwide .worldwide__title .title--pink {
  top: 40%;
}
.worldwide .worldwide__img {
  padding: 4rem 16rem;
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__img {
    padding: 2rem 2.5rem;
  }
}
.worldwide .worldwide__subtitle {
  padding: 6rem 16rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__subtitle {
    padding: 2rem 2.5rem;
  }
}
.worldwide .worldwide__subtitle p {
  margin-bottom: 2rem;
}
.worldwide .worldwide__information {
  border-top-width: 7px;
  border-style: solid;
  -o-border-image: -o-linear-gradient(left, black 0%, white 15%, white 85%, black 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(15%, white), color-stop(85%, white), to(black)) 1;
     border-image: linear-gradient(90deg, black 0%, white 15%, white 85%, black 100%) 1;
  border-bottom-width: 7px;
  padding: 5rem 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(rgba(222, 66, 91, 0)), color-stop(15%, rgba(222, 66, 91, 0.82)), color-stop(85%, rgba(222, 66, 91, 0.82)), to(rgba(222, 66, 91, 0)));
  background: -o-linear-gradient(left, rgba(222, 66, 91, 0) 0%, rgba(222, 66, 91, 0.82) 15%, rgba(222, 66, 91, 0.82) 85%, rgba(222, 66, 91, 0) 100%);
  background: linear-gradient(90deg, rgba(222, 66, 91, 0) 0%, rgba(222, 66, 91, 0.82) 15%, rgba(222, 66, 91, 0.82) 85%, rgba(222, 66, 91, 0) 100%);
}
@media only screen and (max-width: 56.25em) {
  .worldwide .worldwide__information {
    padding: 2rem 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__information {
    padding: 2rem 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.worldwide .worldwide__information .information__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.worldwide .worldwide__information .information__box h3 {
  font-size: 4.8rem;
  font-weight: 900;
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__information .information__box h3 {
    font-size: 8rem;
  }
}
.worldwide .worldwide__information .information__box p {
  font-weight: 700;
}
.worldwide .worldwide__information .information_line {
  width: 1px;
  height: 9rem;
  background-color: #fff;
}
@media only screen and (max-width: 37.5em) {
  .worldwide .worldwide__information .information_line {
    width: 9rem;
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

.creative {
  padding: 6rem 28rem;
  background-color: #000;
  text-align: center;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .creative {
    padding: 6rem 12rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .creative {
    padding: 4rem 2.5rem;
  }
}
.creative::after {
  content: url("../img/EllipseLeft.png");
  position: absolute;
  top: 50%;
  left: 0;
}
@media only screen and (max-width: 37.5em) {
  .creative::after {
    width: 30%;
  }
}
.creative::before {
  content: url("../img/EllipseRight.png");
  position: absolute;
  bottom: 10%;
  right: 0;
}
@media only screen and (max-width: 37.5em) {
  .creative::before {
    width: 30%;
  }
}
.creative .creative__title {
  text-align: center;
  position: relative;
}
.creative .creative__title .title,
.creative .creative__title .title--pink {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.creative .creative__title .title {
  top: 65%;
}
.creative .creative__title .title--pink {
  top: 35%;
}
.creative .creative__subtitle {
  margin-bottom: 4rem;
}

.images {
  overflow: hidden;
}
.images .images__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.images .images__img img {
  max-width: 20%;
}
.blogs {
  padding: 10rem;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10rem;
}
@media only screen and (max-width: 75em) {
  .blogs {
    padding: 5rem;
  }
}
.blogs .blogs__box--1,
.blogs .blogs__box--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
@media only screen and (max-width: 75em) {
  .blogs .blogs__box--1,
.blogs .blogs__box--3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.blogs .box__title {
  max-width: 65rem;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.blogs .inner__title {
  margin-bottom: 2.5rem;
  text-align: left;
  position: relative;
}
.blogs .inner__title .title,
.blogs .inner__title .title--pink {
  position: absolute;
  -webkit-transform: translate(-20%, -50%);
      -ms-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}
.blogs .inner__title .title {
  font-size: 5rem;
  top: 68%;
  left: 17%;
}
@media only screen and (max-width: 75em) {
  .blogs .inner__title .title {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .blogs .inner__title .title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .blogs .inner__title .title {
    font-size: 2rem;
  }
}
.blogs .inner__title .title--pink {
  top: 30%;
  left: 5%;
}
.blogs .inner__subtitle {
  margin-bottom: 3.5rem;
}
.blogs .inner__subtitle p {
  margin-bottom: 2rem;
}
.blogs .inner__subtitle ul > li::marker {
  display: list-item;
  content: url("../img/VectorArrow.svg");
  margin-right: 1rem;
}
.blogs .inner__subtitle ul > li {
  padding-left: 4rem;
  padding-bottom: 3rem;
}
.blogs .blogs__box--2,
.blogs .blogs__box--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .blogs .blogs__box--2 .inner__title > .title,
.blogs .blogs__box--4 .inner__title > .title {
    left: 13%;
  }
}
@media only screen and (max-width: 75em) {
  .blogs .blogs__box--2,
.blogs .blogs__box--4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.blogs .blogs__box--1 {
  -ms-flex-item-align: start;
      align-self: start;
}
.blogs .blogs__box--1 .title--pink {
  left: 5%;
}
.blogs .blogs__box--1 .title {
  left: 15%;
}
.blogs .blogs__box--3 {
  -ms-flex-item-align: start;
      align-self: start;
}
.blogs .blogs__box--3 .title--pink {
  left: 8%;
}
.blogs .blogs__box--3 .title {
  top: 77%;
  left: 15%;
}

.partner {
  padding: 2rem 0 5rem;
  background-color: #fe4d6a;
}
.partner .services__title {
  padding: 0 28rem 7rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
@media only screen and (max-width: 75em) {
  .partner .services__title {
    padding: 0 16rem 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .partner .services__title {
    padding: 0 2.5rem 3rem;
  }
}
.partner .services__title .partner__title {
  text-align: center;
  position: relative;
}
.partner .services__title .partner__title .title,
.partner .services__title .partner__title .title--pink {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.partner .services__title .partner__title .title {
  top: 65%;
}
.partner .services__title .partner__title .title--pink {
  color: #fff;
  top: 35%;
}
.partner .services__title .partner__title .title--background {
  color: #fe4d6a;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.115), 1px 1px 0 rgba(255, 255, 255, 0.115), 1px -1px 0 rgba(255, 255, 255, 0.115), -1px -1px 0 rgba(255, 255, 255, 0.115);
}
.partner .partner__card {
  padding: 0 16rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 75em) {
  .partner .partner__card {
    padding: 2rem 6rem 3rem;
    gap: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .partner .partner__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 9rem;
  }
}
.partner .partner__card .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 3rem;
}
.partner .partner__card .box__text p {
  font-weight: 700;
}
.partner .partner__paragraph {
  text-align: center;
  padding: 0 2.5rem 0;
}

.more {
  padding: 0 0 8rem;
  background-color: #000;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.more::before {
  content: url("/img/wave.png");
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;
}
.more::after {
  content: "";
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: -29rem;
  background-color: rgba(219, 66, 89, 0.3843137255);
  -webkit-filter: blur(50rem);
          filter: blur(50rem);
  z-index: -1;
}
.more .more__title {
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
}
.more .more__title .title,
.more .more__title .title--pink {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.more .more__title .title {
  top: 65%;
}
.more .more__title .title--pink {
  top: 35%;
}
.more .more__title .title--background {
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.115);
  text-shadow: none;
}
.more .more__video {
  padding: 0 6rem;
  display: grid;
  place-items: center;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .more .more__video {
    padding: 0 2.5rem;
  }
}
.more .more__video::before {
  content: url("/img/rightTriangle.png");
  position: absolute;
  top: -6%;
  left: 3%;
}
@media only screen and (max-width: 37.5em) {
  .more .more__video::before {
    display: none;
  }
}
.more .more__video::after {
  content: url("/img/leftTriangle.svg");
  position: absolute;
  bottom: -6%;
  right: 3%;
}
@media only screen and (max-width: 37.5em) {
  .more .more__video::after {
    display: none;
  }
}
.more .more__video video {
  width: 100%;
  max-width: 100%;
  max-height: 57rem;
  outline: none;
  cursor: pointer;
}

.confidence {
  padding: 6rem 0;
  background-color: #fe4d6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .confidence {
    padding: 3rem 0;
  }
}
.confidence .confidence__title {
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
}
.confidence .confidence__title .title,
.confidence .confidence__title .title--pink {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.confidence .confidence__title .title {
  width: 100%;
  top: 65%;
}
.confidence .confidence__title .title--pink {
  color: #fff;
  top: 35%;
}
.confidence .confidence__title .title--background {
  color: #fe4d6a;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.115), 1px 1px 0 rgba(255, 255, 255, 0.115), 1px -1px 0 rgba(255, 255, 255, 0.115), -1px -1px 0 rgba(255, 255, 255, 0.115);
}

.footer {
  padding: 5rem 9rem 1rem;
  background-color: #121212;
}
@media only screen and (max-width: 75em) {
  .footer {
    padding: 4rem 2.5rem 1rem;
  }
}
.footer .footer__menu {
  padding: 0 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media only screen and (max-width: 56.25em) {
  .footer .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
}
.footer .footer__menu .menu__logo {
  max-width: 31rem;
}
@media only screen and (max-width: 75em) {
  .footer .footer__menu .menu__logo {
    max-width: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer .footer__menu .menu__logo {
    max-width: 31rem;
  }
}
.footer .footer__menu .logo__img {
  margin-bottom: 2rem;
}
.footer .footer__menu .logo__text {
  font-size: 1.6rem;
}
.footer .footer__menu .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}
.footer .footer__menu .menu__link h5 {
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.footer .footer__menu .menu__link a {
  font-size: 1.6rem;
  color: rgba(218, 218, 218, 0.8);
}
.footer .footer__menu .menu__link a:hover {
  color: #fe4d6a;
}
.footer .footer__menu .menu__input {
  max-width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.footer .footer__menu .menu__input .input__text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fe4d6a;
  margin-bottom: 2rem;
}
.footer .footer__menu .menu__input .input__text p {
  font-size: 1.6rem;
  color: rgba(218, 218, 218, 0.8);
}
.footer .footer__menu .menu__input .input__input {
  width: 45rem;
  height: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .footer .footer__menu .menu__input .input__input {
    width: 40rem;
  }
}
.footer .footer__menu .menu__input .input__input input {
  width: 60%;
  height: 100%;
  padding-left: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
}
@media only screen and (max-width: 37.5em) {
  .footer .footer__menu .menu__input .input__input input {
    width: 60%;
  }
}
.footer .footer__menu .menu__input .input__input input::-moz-placeholder {
  font-size: 1.8rem;
  color: rgba(254, 77, 106, 0.1607843137);
}
.footer .footer__menu .menu__input .input__input input:-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgba(254, 77, 106, 0.1607843137);
}
.footer .footer__menu .menu__input .input__input input::-webkit-input-placeholder {
  font-size: 1.8rem;
  color: rgba(254, 77, 106, 0.1607843137);
}
.footer .footer__menu .menu__input .input__input input::-ms-input-placeholder {
  font-size: 1.8rem;
  color: rgba(254, 77, 106, 0.1607843137);
}
.footer .footer__menu .menu__input .input__input input::placeholder {
  font-size: 1.8rem;
  color: rgba(254, 77, 106, 0.1607843137);
}
.footer .footer__copyright {
  padding: 3rem 0;
  border-top: 2px solid rgba(255, 255, 255, 0.115);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .footer .footer__copyright {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
}
.footer .footer__copyright .copyright__text {
  font-size: 1.6rem;
  color: rgba(218, 218, 218, 0.8);
}
.footer .footer__copyright .copyright__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.4rem;
}

.header {
  height: 100vh;
  background-image: url("../img/headerImg.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  z-index: 1;
}
.header .header__warning {
  background-color: #fe4d6a;
}
.header .header__warning h2 {
  padding: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.header .header__info {
  max-width: 60rem;
  margin: 9rem;
  position: absolute;
  bottom: 4rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header__info {
    padding: 0 1.5rem;
    margin: 1.5rem auto;
    text-align: center;
  }
}
.header .header__info .info__about {
  margin-bottom: 3rem;
}
.header .header__info .info__about h1 {
  font-size: 7.5rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header__info .info__about h1 {
    font-size: 5rem;
  }
}
.header .header__info .info__about p {
  font-size: 2rem;
}

.nav {
  padding: 2.6rem 9.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .nav {
    padding: 2.6rem 2rem 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 75em) {
  .nav .nav__menu {
    gap: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .nav .nav__menu {
    padding-bottom: 2rem;
    margin-top: 0;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    background-color: #fe4d6a;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    position: absolute;
    top: -1500%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.nav .nav__menu details > summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  cursor: pointer;
}
.nav .nav__menu p {
  cursor: pointer;
}
.nav .nav__menu details > p {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(254, 77, 106, 0.1607843137);
  border-radius: 0.5rem;
  outline: 1px solid #fe4d6a;
}
.nav .nav__menu details > p:hover {
  background-color: #fe4d6a;
  outline: 2px solid #fff;
}
.nav .nav__menu details > p:active {
  -webkit-transform: scale(0.99);
      -ms-transform: scale(0.99);
          transform: scale(0.99);
}
.nav .nav__menu summary:after {
  content: url("../img/triangleD.svg");
  padding-left: 1rem;
}
.nav .nav__menu details[open] summary:after {
  content: url("../img/triangleD.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 1rem;
  padding-left: 0;
}
.nav .nav__btn {
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .nav .nav__btn {
    margin-top: 0;
  }
}
.nav .nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .nav .nav__burger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.nav .nav__burger .bar {
  display: none;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  background-color: #121212;
  border-radius: 50%;
  z-index: 10;
}
@media only screen and (max-width: 56.25em) {
  .nav .nav__burger .bar {
    display: grid;
    place-items: center;
  }
}
.nav .nav__burger .bar__bar, .nav .nav__burger .bar__bar::after, .nav .nav__burger .bar__bar::before {
  display: inline-block;
  width: 5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  z-index: 10;
}
.nav .nav__burger .bar__bar::after, .nav .nav__burger .bar__bar::before {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.nav .nav__burger .bar__bar::after {
  top: -1rem;
  -webkit-transform: translate(-10rem, -10rem) rotate(45deg);
      -ms-transform: translate(-10rem, -10rem) rotate(45deg);
          transform: translate(-10rem, -10rem) rotate(45deg);
  opacity: 0;
}
.nav .nav__burger .bar__bar::before {
  top: 1rem;
  -webkit-transform: translate(-10rem, 10rem) rotate(-45deg);
      -ms-transform: translate(-10rem, 10rem) rotate(-45deg);
          transform: translate(-10rem, 10rem) rotate(-45deg);
  opacity: 0;
}
.nav .active {
  top: 0%;
}
.nav .nav__menu.active ~ .nav__burger > a > span::after {
  content: "";
  -webkit-transform: translateY(1rem) rotate(45deg);
      -ms-transform: translateY(1rem) rotate(45deg);
          transform: translateY(1rem) rotate(45deg);
  opacity: 1;
}
.nav .nav__menu.active ~ .nav__burger > a > span::before {
  content: "";
  -webkit-transform: translateY(-1rem) rotate(-45deg);
      -ms-transform: translateY(-1rem) rotate(-45deg);
          transform: translateY(-1rem) rotate(-45deg);
  opacity: 1;
}
.nav .nav__menu.active ~ .nav__burger > a > span {
  background-color: transparent;
}