.footer {
  padding: 5rem 9rem 1rem;
  background-color: $color-black-ish;
  @include respond(tablet-land) {
    padding: 4rem 2.5rem 1rem;
  }
  .footer__menu {
    padding: 0 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include respond(tablet) {
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
    .menu__logo {
      max-width: 31rem;
      @include respond(tablet-land) {
        max-width: 25rem;
      }
    }
    .logo__img {
      margin-bottom: 2rem;
    }
    .logo__text {
      font-size: 1.6rem;
    }
    .menu__link {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      h5 {
        font-weight: 600;
        margin-bottom: 0.8rem;
      }
      a {
        font-size: 1.6rem;
        color: $color-grey-text;
        &:hover {
          color: $color-primary;
        }
      }
    }

    .menu__input {
      max-width: 45rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include respond(tablet-land) {
      }
      .input__text {
        h3 {
          font-family: 'Montserrat', sans-serif;
          font-size: 2.4rem;
          font-weight: 600;
          color: $color-primary;
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.6rem;
          color: $color-grey-text;
        }
      }
      .input__input {
        width: 45rem;
        @include respond(phone) {
            width: 40rem;
          }
        input {
          width: 70%;
          padding: 1.3rem 5rem 1rem 1rem;
          outline: none;
          border: none;
          @include respond(phone) {
            width: 60%;
          }
          &::placeholder {
            font-size: 1.2rem;
          }
        }
        button {
          background-color: $color-primary;
          text-transform: uppercase;
          padding: 1rem 2.4rem;
          font-size: 1.8rem;
          font-weight: 600;
          color: $color-white;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease;
          @include respond(tablet-land) {
            padding: 1.17rem 2.4rem;
          }
          @include respond(phone) {
            padding: 1.3rem 2.4rem;
          }
          &:hover {
            background-color: $color-primary-opacity;
            outline: 2px solid $color-white;
            outline-offset: -2px;
          }
        }
      }
    }
  }
  .footer__copyright {
    padding: 3rem 0;
    border-top: 2px solid $color-white-opacity;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tablet) {
      padding: 1rem 0;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
    .copyright__text {
      font-size: 1.6rem;
      color: $color-grey-text;
    }
    .copyright__social {
      display: flex;
      gap: 2.4rem;
    }
  }
}
