.nav {
  @include padding;
  padding-top: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;

  .nav__menu {
    display: flex;
    gap: 6rem;
    details > summary {
      list-style: none;
    }
    summary:after {
      content: url('/img/triangleD.svg');
    }

    details[open] summary:after {
      content: url('/img/triangleD.svg');
      transform: rotate(180deg);
    }
  }
}
