.blogs {
  padding: 10rem;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  @include respond(tablet-land) {
    padding: 5rem;
  }
  .blogs__box--1,
  .blogs__box--3 {
    display: flex;
    align-items: center;
    gap: 6rem;
    @include respond(tablet-land) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .box__title {
    max-width: 65rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    @include respond(tablet-land) {
    }
  }
  .inner__title {
    margin-bottom: 2.5rem;
    text-align: left;
    position: relative;

    .title,
    .title--pink {
      position: absolute;
      transform: translate(-20%, -50%);
    }
    .title {
      font-size: 5rem;
      top: 68%;
      left: 17%;
      @include respond(tablet-land) {
        font-size: 4.5rem;
      }
      @include respond(tablet) {
        font-size: 4rem;
      }
      @include respond(phone) {
        font-size: 2rem;
      }
    }
    .title--pink {
      top: 30%;
      left: 5%;
    }
  }

  .inner__subtitle {
    margin-bottom: 3.5rem;
    p {
      margin-bottom: 2rem;
    }
    ul > li::marker {
      display: list-item;
      content: url('/img/VectorArrow.svg');
      margin-right: 1rem;
    }
    ul > li {
      padding-left: 4rem;
      padding-bottom: 3rem;
    }
  }

  .blogs__box--2,
  .blogs__box--4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6rem;
    @include respond(tablet-land) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .blogs__box--1 {
    align-self: start;
    .title--pink {
      left: 5%;
    }
    .title {
      left: 15%;
    }
  }
  .blogs__box--3 {
    align-self: start;
    .title--pink {
      left: 8%;
    }
    .title {
      top: 77%;
      left: 15%;
    }
  }
}
