.btn {
  background-color: $color-primary;
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color-primary-opacity;
    outline: 2px solid $color-white;
    outline-offset: -2px;
  }
}
.btn--transparant {
  background-color: transparent;
  outline: 2px solid $color-white;
  outline-offset: -2px;
}

.btn--nav {
  text-transform: none;
}

.btn--white {
  @extend .btn;
  background-color: $color-white;
  color: $color-primary;
  &:hover {
    @extend .btn--transparant;
    color: $color-white;
  }
}

.inner__btn {
  #arrow {
    color: $color-primary;
    &:hover {
      color: $color-white;
    }
  }
}
