$color-primary: #fe4d6a;
$color-primary-opacity: #fe4d6a29;
$color-primary-opacity-background: #db425962;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.115);
$color-grey: #a8a8a8;
$color-grey-text: #dadadacc;
$color-black: #000;
$color-black-ish: #121212;

